body {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
}


#ball {
    position: fixed;
    width: 64px;
    height: 64px;
}


#raquette1, #raquette2 {
    position: fixed;
    width: 100px;
    height: 250px;
}

#scores {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;

}
