body {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
}


#ball {
    position: fixed;
    width: 86px;
    height: 86px;
}


#raquette1, #raquette2 {
    position: fixed;
    width: 120px;
    height: 300px;
}

#scores {
    position: fixed;
    top: 20px;
    left: 50%;
    font-size: 48px;
}
